.footer {
    text-align: center;
    background-color: $color-grey-light-2;

    &__text{
        font-size: $default-font-size;
    }
    
    &__link{
        text-decoration: none;
        color: $color-violet-dark;
        padding: 0.5rem;

        &:hover {
            color: $color-violet-light;
        }
    }

    &__icon {  
        font-size: 5rem;       
    }


}



