.project {
    text-align: center;
    &__img {
        max-width: 40rem;
        max-height: 40rem;
        margin-bottom: 3rem;
        

        @include respond(tab-port) {
            max-width: 30rem;
            max-height: 30rem;
        }
    }

    &__link {
        display: block;
    }



    &__text {
        font-size: $default-font-size;
    }
}